@mixin reset-link($fontSize) {
  color: $light;
  text-decoration: none;
  font-size: $fontSize;
}

.nav-bar {
  background-color: $primary;

  @include align-center();
  justify-content: space-between;

  .brand {
    @include reset-link(2rem);
  }

  .nav-list {
    list-style: none;
    @include align-center();

    .nav-item a {
      margin: 1rem;
      @include reset-link(1rem);

      &:hover{
        color: $dark;
      }
    }
  }
}
