body {
    background-color: rgb(194, 209, 194);
}

.container {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'main main main right right right'
    'footer footer footer footer footer footer';
    text-align: center;
    font-size: 2rem;
    gap: 1rem;
}

.container > div {
    padding: 2rem;
}

.item1 {
    grid-area: header;
    background-color: gray;
}

.item2 {
    grid-area: main;
    background-color: rgb(74, 180, 74);
}

.item3 {
    grid-area: right;
    background-color: rgb(230, 230, 161);
}

.item4 {
    grid-area: footer;
    background-color: gray;
}

.containerDois {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.containerDois > div {
    background-color: lightyellow;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    font-size: 2rem;
}