$vermelho: red;
$branco: white;
$cinza: gray;
$preto: black;
$verde: green;
.container {
    background-color: $vermelho;
}

h1 {
    color: $branco;
}

ul.minha-lista {
    list-style-type: nome;
    background-color: $cinza;

    li {
        margin: 0;
        padding: 0;
    }
}

// link não visitado
a:link {
    color: $vermelho;
}

// link visitado
a:visited {
    color: $verde;
}

a:hover {
    color: $preto;
}

a:active {
    color: $cinza;
}

p::first-line {
    color: $verde;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}